body {
  background-color: antiquewhite
}
li {
  list-style-type: none;
}
.hoverable:hover {
  cursor: pointer;
}
.hoverable:active {
  background-color: #b8daff !important;
}
.popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: white;
  background: red;
  width: 100%;
  height: 40px;
  top: -40px;
  transition: ease-in-out 0.2s;
}

.popup--visible {
  transform: translate(0, 40px);
}

.timer {
  position: absolute;
  z-index: 999;
  color: white;
  background: cadetblue;
  height: 5px;
  left: 0;
  bottom: 0;
}
.timer-animation {
  transition: linear 1s;
}

.speech-bubble {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sans-serif";
    /*background: #00aabb;*/
    border-radius: .4em;
    width: 35px;
    height: 35px;
    z-index: 999;
}

.speech-bubble-sub {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    border-left: 0;
    margin-left: -5px;
    margin-bottom: -10px;
}

.smiley {
  position: fixed;
  z-index: 999;
  bottom: 10%;
  left: 40%;
}
.smiley-message {
  font-size: 18pt;
}
.smiley-message:hover {
  cursor: pointer;
}
.answer {
  position: relative;
}
.answer-others {
  position: absolute;
  z-index: 999;
  top: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 7px;
}