body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.question-nb {
  font-size: 15px;
}
.questions-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 23px;
}
.bg-blue {
  background-color: #17a2b8;
  padding: 35px 20px 20px 20px;
  color: white;
}
.bg-white {
  position: relative;
}
.top {
  height: 35vh;
}
body {
  background: antiquewhite;
  width: 100%;
  height: 100%;
  font-family: "Antic";
}
.questions {
  font-family: "Open Sans";
  font-size: 14px;
  z-index: 999;
  background: white;
  position: absolute;
  top: -30px;
  width: 90vw;
  left: calc(50% - 45vw);
  border-radius: 7px;
  box-shadow: -2px 3px 5px -2px rgba(0,0,0,0.55);
}
.answer {
  padding: 20px;
  min-height: 50px;
  border-bottom: solid 1px #EEE;
}